<!--systemlog-->
<%- contentFor('body') %>
<!--beginn fixed navigation bar-->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation </span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand text-center" href="/">,,iSystem2016''-Paketbox</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Übersicht</a></li>
        <li><a href="/packages">Pakete</a></li>
        <li class="active"><a href="/systemlog">Systemlog</a></li>
        <li><a href="/settings">Einstellungen</a></li>
      </ul>
    </div>
  </div>
</div>
<!--end fixed navigation bar-->

<div class="container-fluid">
  <div class="row">

    <!--beginn table for systemlog-->
    <form method="post" action="/systemlog">
      <div id="table boxend" class="col-sm-12">
        <h3 class="text">Systemlogs </h3>
        <table class="table table-striped table-responsive ">
          <thead>
            <tr>
              <th><button name="number" value="1" class="tablebutton">#</button></th>
              <th><button name="eventtype" value="1" class="tablebutton">Ereignisart</button></th>
              <th><button name="timestamp" value="1" class="tablebutton">Zeitstempel</button></th>
              <th><button name="additionalinformation" value="1" class="tablebutton">Zusatzinformation</button></th>
            </tr>
          </thead>
          <tbody>
            <% for (var i = 0; i < data.length; i++) { %>
            <tr>
              <td>
                <%= data[i].running_number %>
              </td>
              <td>
                <%= data[i].kind_of_case %>
              </td>
              <td>
                <%= data[i].time_stamp %>
              </td>
              <td>
                <%= data[i].description %>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </form>
    <!--end table for systemlog-->

  </div>
</div>
