<!DOCTYPE html>
<html lang="de">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<meta name="description" content="Schwabenbox">
		<meta name="author" content="Gruppe33">
		<title>,,iSystem2016''-Paketbox</title>

		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/custom.css" rel="stylesheet">
	</head>

	<body>

		<!-- including the bodys of the pages with ejs -->
		<%- body %>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/bootstrap.min.js"></script>

	</body>

	<footer>
		<div class="row voffset100">
			<!--voffset is defined in costum.css and provides the distance between body and footer (100px)-->
			<div class="col-sm-4 text-center">
				<p>Schwabenbox(Team 33)</p>
			</div>
			<div class="col-sm-4 text-center">
				<p>Softwareprojekt Version 1.0</p>
			</div>
			<div class="col-sm-4 text-center">
				<p id="date"></p>
				<script src="js/date.js"></script>
			</div>
		</div>
	</footer>

</html>
