    body {
    padding-top: 70px;
    padding-bottom: 100px;
}

.voffset100
/*hold distance between body and footer */

{
    margin-top: 100px;
}

.buttontable {
    background-color: white;
    border: none;
    color: black;
}

#boxstart {
    background-color: blue;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    ;
}

#boxstate {
    background-color: blue;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 11px;
    margin-right: 11px;
}

#table {
    border-radius: 10px;
    margin-top: 10px;
}

#boxend {
    margin-bottom: 15px;
}

.offsetbutton {
    margin-top: 10px;
}

.offsettab {
    margin-left: 50px
}

.tablebutton {
    padding: 0;
    border: none;
    background: none;
}

.fixed_heade{
  table-layout: fixed;
  border-collapse: collapse;
}
